{% extends 'layout.html' %}
{% load static %}

{% block content %}
{#    <style>#}
{##}
{#        .regis-page {#}
{#            background-image: url("{% static 'img/hit3.jpg' %}") !important;#}
{#            background-size: cover;#}
{#            background-position: center; /* 图片位于元素的中心 */#}
{#            background-repeat: no-repeat;#}
{#            height: 100%;#}
{#            min-height: 1000px;#}
{##}
{#        }#}
{#    </style>#}
    <div class="regis-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-body regis-card">
                            <h2 class="text-center mb-4 regis-title">注册您的账号</h2>
                            <form method="post" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <label class="regis-label">{{ field.label }}</label>
                                        {{ field }}
                                        <span style="color:red">{{ field.errors.0 }}</span>

                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary btn-block">注册</button>
                            </form>
                            <a href="/login">已有账号?立即登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}