<!-- templates/user_center.html -->
{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center mb-4">
{#                <img src="{% static 'path_to_your_avatar.jpg' %}" alt="Avatar" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">#}
                <h5 class="mb-3 mt-3">{{ request.session.info.nickname }}</h5>
            </div>
            <div class="list-group">
                <a href="/account/info" class="list-group-item list-group-item-action active">查看信息</a>
                <a href="/account/edit" class="list-group-item list-group-item-action">修改信息</a>
                <a href="/account/posts" class="list-group-item list-group-item-action">我的帖子</a>
                <a href="/account/comments" class="list-group-item list-group-item-action">我的评论</a>
                <a href="/account/subscription" class="list-group-item list-group-item-action">关注版面</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    {% block user_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
    // 获取当前页面的 URL，用来确定哪个页面应该处于 active 状态
    var currentUrl = window.location.href;
    var sidebarItems = document.querySelectorAll('.list-group a');

    // 遍历侧边栏的链接，如果链接的 href 与当前 URL 匹配，则添加 active 类
    sidebarItems.forEach(function(item) {
        if (item.href === currentUrl) {
            item.classList.add('active');
        }
        else{
            item.classList.remove('active')
        }
    });
</script>
{% endblock %}
