{% extends 'layout.html' %}
{% load static %}
{% load tz %}
{% block content %}
<div class="container">
    <div class="card mt-5">
        <div class="card-header bg-theme-light text-white justify-content-center">
            <h3 class="justify-content-center">{{ notification.title }}</h3>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="card-title text-muted">发布者: {{ notification.launcher }}</h6>
                <p class="card-text text-muted">浏览次数: {{ notification.view_times }}</p>
            </div>
            <div class="mb-3"></div>
            <p class="card-text">{{ notification.text }}</p>
            {% if notification.additional_graphics %}
                <img src="{{ notification.additional_graphics.url }}" class="img-fluid" alt="附加图片">
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            发布时间：{{ notification.launch_time|localtime }}
        </div>
    </div>
</div>
{% endblock %}
