{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row no-gutters">
            <div class="d-flex justify-content-between align-items-center mb-4 col-sm-11">
                <h2 class="mb-0">通知中心</h2>
                {% if is_allowed %}
                    <a href="/notice/launch" class="btn btn-primary">发布通知</a>
                {% endif %}
            </div>
        </div>

        <div class="row no-gutters">
            <div class="card mb-4 col-sm-5 min-height">
                <div class="card-header bg-theme-light text-white h5">
                    置顶通知
                </div>
                <div class="card-body d-flex flex-column">
                    {% if top_notifications %}
                        {% for notification in top_notifications %}
                            <div class="notification-item py-2 border-bottom border-primary d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="card-title h5 mb-0"
                                       href="/n/{{ notification.id }}">{{ notification.title }}</a>
                                </div>
                                <div class="text-muted">
                                    <small>{{ notification.launch_time|date:"Y.m.d" }}</small>
                                </div>
                            </div>
                        {% empty %}
                            <p class="card-text">暂无置顶通知</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">暂无置顶通知</p>
                    {% endif %}
                </div>

            </div>
            <div class="col-sm-1"></div>
            <div class="card mb-4 col-sm-5 min-height">
                <div class="card-header bg-theme-light text-white h5">
                    <div class="d-flex justify-content-between align-items-center">
                        <a>最新通知</a>
                        <a href="/notice/list" class="text-white">更多</a>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    {% if latest_notifications %}
                        {% for notification in latest_notifications %}
                            <div class="notification-item py-2 border-bottom border-primary d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="card-title h5 mb-0 text-decoration-none"
                                       href="/n/{{ notification.id }}">{{ notification.title }}</a>
                                </div>
                                <div class="text-muted">
                                    <small>{{ notification.launch_time|date:"Y.m.d" }}</small>
                                </div>
                            </div>
                        {% empty %}
                            <p class="card-text">暂无最新通知</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">暂无最新通知</p>
                    {% endif %}
                </div>

            </div>


        </div>
        <div class="row no-gutters">
            <div class="card mb-4 col-sm-5 min-height">
                <div class="card-header bg-theme text-white h5">
                    导员通知
                </div>
                <div class="card-body d-flex flex-column">
                    {% if dy_notifications %}
                        {% for notification in dy_notifications %}
                            <div class="notification-item py-2 border-bottom border-primary d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="card-title h5 mb-0"
                                       href="/n/{{ notification.id }}">{{ notification.title }}</a>
                                </div>
                                <div class="text-muted">
                                    <small>{{ notification.launch_time|date:"Y.m.d" }}</small>
                                </div>
                            </div>
                        {% empty %}
                            <p class="card-text">暂无通知</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">暂无通知</p>
                    {% endif %}
                </div>

            </div>
            <div class="col-sm-1"></div>
            <div class="card mb-4 col-sm-5 min-height">
                <div class="card-header bg-theme text-white h5">
                    今日哈工大通知
                </div>
                <div class="card-body d-flex flex-column">
                    {% if hit_notifications %}
                        {% for notification in hit_notifications %}
                            <div class="notification-item py-2 border-bottom border-primary d-flex justify-content-between align-items-center">
                                <div>
                                    <a class="card-title h5 mb-0"
                                       href="/n/{{ notification.id }}">{{ notification.title }}</a>
                                </div>
                                <div class="text-muted">
                                    <small>{{ notification.launch_time|date:"Y.m.d" }}</small>
                                </div>
                            </div>
                        {% empty %}
                            <p class="card-text">暂无通知</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">暂无通知</p>
                    {% endif %}
                </div>

            </div>


        </div>

    </div>
{% endblock %}
